@page
@model Website.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}
@using DinoDiner.Menu;

<h1>Menu</h1>
@if (Model.EmptyItems)
{<h2>No Results with selected options.</h2>}
@if (Model.items[0].Count > 0)
{<h2>Combos</h2>}
@foreach (CretaceousCombo i in Model.items[0])
{
    <div class="menu-item">
        <h3>@i.Description</h3>
        <h5>@i.Drink.Description</h5>
        <h5>@i.Side.Description</h5>

        <p>Price: $@String.Format("{0:0.00}", i.Price)</p>
        <p>@i.Calories Calories</p>
        <p>
            Ingredients:
            @foreach (var tt in i.Ingredients)
            {
            <p>- @tt</p>
        }
            </p>
        </div>
    }


@if (Model.items[1].Count > 0)
{<h2>Entrees</h2>}
@foreach (Entree i in Model.items[1])
{
    <div class="menu-item">
        <h3>@i.Description</h3>
        <p>Price: $@String.Format("{0:0.00}", i.Price)</p>
        <p>@i.Calories Calories</p>

        <p>
            Ingredients:
            @foreach (var tt in i.Ingredients)
            {
            <p>- @tt</p>
        }
            </p>
        </div>
    }

@if (Model.items[2].Count > 0)
{<h2>Sides</h2>}
@foreach (Side i in Model.items[2])
{
    <div class="menu-item">
        <h3>@i.Description</h3>
        <p>Price: $@String.Format("{0:0.00}", i.Price)</p>
        <p>@i.Calories Calories</p>

        <p>
            Ingredients:
            @foreach (var tt in i.Ingredients)
            {
            <p>- @tt</p>
        }
            </p>
        </div>
    }

@if (Model.items[3].Count > 0){<h2>Sides</h2>}
@foreach (Drink i in Model.items[3])
{
    <div class="menu-item">
        <h3>@i.Description</h3>
        <p>Price: $@String.Format("{0:0.00}", i.Price)</p>
        <p>@i.Calories Calories</p>
        <p>
            Ingredients:
            @foreach (var tt in i.Ingredients)
            {
            <p>- @tt</p>
        }
            </p>
        </div>
    }
<form method="post">
    <div class="search">
        <input type="text" name="search" id="search" value="@Model.search" /><br />
        <input type="submit" name="filter" id="filter" value="Search and Filter" /><br />
        <label>
            <input type="checkbox" class="search-ingredients" name="SearchIngredients" value="true" checked="@Model.SearchIngredients" />
            Include Ingredients in Search<br />
        </label>
    </div>
        Menu Category <br />
        <label>
            <input type="checkbox" class="menu-category" name="menuCategory" value="Combo" checked="@Model.menuCategory.Contains("Combo")" />
            Combo<br />
        </label>
        <label>
            <input type="checkbox" class="menu-category" name="menuCategory" value="Entree" checked="@Model.menuCategory.Contains("Entree")" />
            Entree<br />
        </label>
        <label>
            <input type="checkbox" class="menu-category" name="menuCategory" value="Side" checked="@Model.menuCategory.Contains("Side")" />
            Side<br />
        </label>
        <label>
            <input type="checkbox" class="menu-category" name="menuCategory" value="Drink" checked="@Model.menuCategory.Contains("Drink")" />
            Drink<br />
        </label>
        Price<br />
        Min
        <input type="number" id="minimum-price" name="minimumPrice" step="0.01" value="@Model.minprice" />
        Max
        <input type="number" id="maximum-price" name="maximumPrice" step="0.01" value="@Model.maxprice" />
        Excluding Ingredients<br />
        @foreach (var ing in Model.Menu.PossibleIngredients)
        {
            <label>
                <input type="checkbox" name="removedIngredients" value="@ing" checked="@Model.removedIngredients.Contains(ing)" />
                @ing<br />
            </label>
        }

</form>